html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.StartButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.StartPage{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*:focus:not(a){
  outline: none !important;
  box-shadow: none !important;
}

.popButton {
  background-color: transparent;
  outline: 0;
  color: black;
  border: none;
}

#dropdown-basic::after{
  display: none; 
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 100%;
}

.carousel-indicators {
  bottom: -60px;
}

.popover{
  max-width: 800px;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 3em; /* Set the width of the sidebar */
  position: fixed;
  vertical-align: middle;
  align-items: center;
  background-color: #333333; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.modal-dialog {
  max-width: 50%;
  height: 50%;
}

.CodeMirror { height: 43em !important} 

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_device_laptop&stacked=h */
.laptop {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  left: 50%;
  position: absolute;
  width: 1366px;
  height: 800px;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black;
}

/* The keyboard of the laptop */
.laptop:after {
  content: '';
  display: block;
  position: absolute;
  width: 1600px;
  height: 60px;
  margin: 80px 0 0 -110px;
  background: black;
  border-radius: 6px;
}

/* The top of the keyboard */
.laptop:before {
  content: '';
  display: block;
  position: absolute;
  width: 250px;
  height: 30px;
  bottom: -110px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

/* The screen (or content) of the device */
.laptop .content {
  width: 1320px;
  height: 700px;
  overflow: hidden;
  border: none;
}

ul {
  list-style-type: none;
}