html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.StartButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.StartPage{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*:focus:not(a){
  outline: none !important;
  box-shadow: none !important;
}

.popButton {
  background-color: transparent;
  outline: 0;
  color: black;
  border: none;
}

#dropdown-basic::after{
  display: none; 
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 100%;
}

.carousel-indicators {
  bottom: -60px;
}