<html>
	<div class="aboutmepic" data-label="home" data-page="kermit-home" data-template="WorkPortfolio" data-id="2" style="text-align: center;">
		<figure class="image">
			<img src="https://pbs.twimg.com/profile_images/1080855598298611713/lTS-u1Iu.jpg" style="width: 15em; height: 15em; margin: 1em;"/>
			<p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px;">
				<a href="http://localhost:5000/kermit-experience?label=experience">Job Experience</a>
			</p>
		</figure>
	</div>
</html>