<html>
	<div class="card4" data-label="home" data-page="homepage" data-template="MyUsf" data-id="4">
		<div class="card" style="background-color: #007ea5; width: 400px; height: 500px">
			<div class="card-image">
				<figure class="image is-4by3" style="margin: 0">
					<img src="https://pbs.twimg.com/media/EnNJcO4VQAA6xCC?format=jpg&amp;name=small" alt="Placeholder image"/>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p style="color: #FFFFFF">
              	It's been a big year for politics major Zoe Baker ’21. It started in January with a Washington, D.C. internship with the current Vice President-elect. By November, she was helping the ABC News...
              </p>
				</div>
			</div>
		</div>
	</div>
</html>