<html>
	<div class="card2" data-label="home" data-page="homepage" data-template="MyUsf" data-id="4">
		<div class="card" style="background-color: &#10;#c25400; width: 400px; height: 500px">
			<div class="card-image">
				<figure class="image is-4by3" style="margin: 0">
					<img src="https://pbs.twimg.com/media/EnEINYgUcAESoV9?format=jpg&amp;name=small" alt="Placeholder image"/>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p style="color: #FFFFFF">
                Volunteer Fire Captain Michael Carlson spent 32 days fighting fires in Northern California this past summer and fall. 👨‍🚒 The USF alumnus (@usflaw ‘96) has a day job as vice president and general counsel at Caymus Vineyards.
              </p>
				</div>
			</div>
		</div>
	</div>
</html>