<html>
	<div class="card3" data-label="home" data-page="homepage" data-template="MyUsf" data-id="5">
		<div class="card" style="background-color: &#10;#c25400; width: 400px; height: 500px">
			<div class="card-image">
				<figure class="image is-4by3" style="margin: 0">
					<img src="https://pbs.twimg.com/media/EmvMoRGVEAEpV6i?format=jpg&amp;name=4096x4096" alt="Placeholder image"/>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p style="color: #FFFFFF">
                W. Kamau Bell: This year’s USF Honors College J. Paul Getty Visiting Artist/Scholar. His work includes:

• CNN original documentary series: United Shades of America 📺 🇺🇸

• Netflix special: Private School Negro 🖥

• His...
              </p>
				</div>
			</div>
		</div>
	</div>
</html>