<html>
	<div class="card5" data-label="home" data-page="homepage" data-template="MyUsf" data-id="7">
		<div class="card" style="background-color: #007ea5; width: 400px; height: 500px">
			<div class="card-image">
				<figure class="image is-4by3" style="margin: 0">
					<img src="https://pbs.twimg.com/media/EnEKcBzVQAA2fC4?format=jpg&amp;name=small" alt="Placeholder image"/>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p style="color: #FFFFFF">
              	In this time of pandemic, poetry helps. Dean Rader — poet, Guggenheim fellow, and USF professor of English — contributed a poem to Together in a Sudden Strangeness: America's Poets Respond to...
              </p>
				</div>
			</div>
		</div>
	</div>
</html>