<html>
	<div class="card6" data-label="home" data-page="homepage" data-template="MyUsf" data-id="8">
		<div class="card" style="background-color: #007ea5; width: 400px; height: 500px">
			<div class="card-image">
				<figure class="image is-4by3" style="margin: 0">
					<img src="https://pbs.twimg.com/media/EnEINYgUcAESoV9?format=jpg&amp;name=small" alt="Placeholder image"/>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p style="color: #FFFFFF">
              	Volunteer Fire Captain Michael Carlson JD ‘96 spent 32 days fighting fires in Napa County this past summer and fall. The 
@usflaw
 alumnus has a day job as vice president and general counsel at Caymus...
              </p>
				</div>
			</div>
		</div>
	</div>
</html>