<html>
	<div class="card1" data-label="home" data-page="homepage" data-template="MyUsf" data-id="1">
		<div class="card" style="background-color: #c25400; width: 400px; height: 500px">
			<div class="card-image">
				<figure class="image is-4by3" style="margin: 0">
					<img src="https://pbs.twimg.com/media/EnNJcO4VQAA6xCC?format=jpg&amp;name=small" alt="Placeholder image"/>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p style="color: #FFFFFF">
              	It’s been a big year for politics major Zoe Baker ’21:

✅ Traveled to Washington, D.C. to join the USF in DC program 🇺🇸

✅ Interned with Senator (now Vice-President elect) Kamala Harris 🏛

✅ Helped crunch data for the ABC News... 
              </p>
				</div>
			</div>
		</div>
	</div>
</html>