<html>
	<div class="demohero" data-label="demo" data-page="startpage" data-template="Demo" data-id="13">
		<section class="hero is-large" style="background-color: #da3e3e; color: #000000; ">
			<div class="hero-header">
				<div data-child-limit="1" data-child-type="demonav"/>
			</div>
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
              Demo Banner
            </h1>
					<h2 class="subtitle">
              
            </h2>
				</div>
			</div>
		</section>
	</div>
</html>