<html>
	<div class="demobanner" data-label="demo" data-page="startpage" data-template="Demo" data-id="88">
		<section class="hero is-fullheight" style="background-color: #FFFFFF; color: #000000; background-image:url('https://cdn.vox-cdn.com/thumbor/2q97YCXcLOlkoR2jKKEMQ-wkG9k=/0x0:900x500/1200x800/filters:focal(378x178:522x322)/cdn.vox-cdn.com/uploads/chorus_image/image/49493993/this-is-fine.0.jpg'); background-size:cover;">
			<div class="hero-header">
				<div data-child-limit="1" data-child-type="navbardemo"/>
			</div>
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
              
            </h1>
					<h2 class="subtitle">
              
            </h2>
				</div>
			</div>
		</section>
	</div>
</html>