<html>
	<div class="hobbiespic" data-label="home" data-page="kermit-home" data-template="WorkPortfolio" data-id="17" style="text-align: center;">
		<figure class="image">
			<img src="https://pbs.twimg.com/media/EfO9MaIXgAAnBBW?format=jpg&amp;name=medium" style="width: 15em; height: 15em; border-radius: 0%; object-fit: cover; margin: 1em;"/>
			<p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px;">
				<a href="http://localhost:5000/kermit-aboutme?label=about">About Me</a>
			</p>
		</figure>
	</div>
</html>