<html>
	<div class="initizalingTemplateComponent" data-label="start" data-page="home,about,experience,projects" data-template="WorkPortfolio" data-id="19"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="english,spanish,portuguese" data-template="SeasonalFashion" data-id="20"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="NewTest" data-id="21"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="Test2" data-id="22"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="home,reviews,recipes" data-template="PizzaBlog" data-id="23"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="Layout-Default" data-id="24"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="Layout-Default" data-id="25"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="Layout-Default" data-id="26"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="dempage" data-template="DemoLayout" data-id="27"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="startpage" data-template="Demo" data-id="28"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="demo" data-id="84"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="Demo" data-id="85"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="startpage" data-template="Demo" data-id="86"/>
</html>