<html>
	<div class="initizalingTemplateComponent" data-label="start" data-page="home,about,experience,projects" data-template="WorkPortfolio" data-id="11"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="english,spanish,portuguese" data-template="SeasonalFashion" data-id="12"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="NewTest" data-id="45"/>
	<div class="initizalingTemplateComponent" data-label="start" data-page="homepage" data-template="Test2" data-id="47"/>
</html>