<html>
	<div class="kermit-navbar" data-label="home,about,experience,projects,contact" data-page="kermit-home,kermit-aboutme,kermit-experience,kermit-projects, kermit-contact" data-template="WorkPortfolio" data-id="29">
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="background-color: #FFFFFF; color: #000000">
			<div class="navbar-brand">
				<div class="navbar-item">
					<span style="color: #33661f; font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif;">Kermit the Frog</span>
				</div>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
					<span aria-hidden="true"/>
					<span aria-hidden="true"/>
					<span aria-hidden="true"/>
				</a>
			</div>
			<div class="navbar-menu">
				<a class="navbar-item" href="http://localhost:5000/kermit-home?label=home">Home</a>
				<a class="navbar-item" href="http://localhost:5000/kermit-aboutme?label=about">About Me</a>
				<a class="navbar-item" href="http://localhost:5000/kermit-experience?label=experience">Experience</a>
				<a class="navbar-item" href="http://localhost:5000/kermit-projects?label=projects">Projects</a>
				<a class="navbar-item" href="http://localhost:5000/kermit-contact?label=contact">Contact</a>
			</div>
		</nav>
	</div>
</html>