<html>
	<div class="media" data-label="default" data-page="newpage" data-template="StartPage" data-id="41">
		<article class="media" style="width: 95%">
			<figure class="media-left">
				<p class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/128x128.png"/>
				</p>
			</figure>
			<div class="media-content">
				<div class="field">
					<p class="control">
						<textarea class="textarea" placeholder="Add a comment..."/>
					</p>
				</div>
				<nav class="level">
					<div class="level-left">
						<div class="level-item">
							<a class="button is-info">Submit</a>
						</div>
					</div>
				</nav>
			</div>
		</article>
		<script>

		</script>
	</div>
</html>