<html>
	<div class="monthSidebar" data-label="default" data-page="home,reviews,recipes" data-template="PizzaBlog" data-id="18">
		<aside class="menu" style="background-color: #f3edd3; color: #000000; width: 20em; height: 100vh; overflow: auto; padding: 1em">
			<ul class="menu-list" style="list-style-type: none;">
				<p class="menu-label">
					2020
				</p>
				<li style="padding-bottom: 1em">
					<a href="">January</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">February</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">March</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">April</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">May</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">June</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">July</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">August</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">September</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">October</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">November</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">December</a>
				</li>
				<p class="menu-label" style="padding-top: 1em">
					2019
				</p>
				<li style="padding-bottom: 1em">
					<a href="">January</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">February</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">March</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">April</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">May</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">June</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">July</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">August</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">September</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">October</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">November</a>
				</li>
				<li style="padding-bottom: 1em">
					<a href="">December</a>
				</li>
			</ul>
		</aside>
	</div>
</html>