<html>
	<div class="navbardemo" data-label="demo" data-page="startpage" data-template="Demo" data-id="87">
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="background-color: #FFFFFF; color: #000000">
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="">Home</a>
				</div>
			</div>
			<script>
        $(document).ready(function() {
            $(".navbar-burger").click(function() {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        });
    </script>
		</nav>
	</div>
</html>