<html>
	<div class="navbar" data-label="home" data-page="homepage,myusfdashboard" data-template="MyUsf" data-id="33" style="background-color: #00543c; margin-bottom: 0">
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="background-color: #00543c">
			<div class="navbar-brand">
				<div class="navbar-item">
					<span style="color: #FFFFFF; font-size: 30px">myUSF</span>
					<img src="https://2.bp.blogspot.com/-ErEvSE6XqYU/TlEkkeefqPI/AAAAAAAAB_A/JcmNdVbV3hc/s500/University+of+San+Francisco+logo+2011+symbol.png" alt="USF" width="35" height="auto"/>
				</div>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
					<span aria-hidden="true"/>
					<span aria-hidden="true"/>
					<span aria-hidden="true"/>
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" style="color: #FFFFFF">
                  STUDENT SERVICES
                </a>
					<div class="navbar-dropdown is-boxed">
						<a class="navbar-item">
                      Billing and Tuition
                    </a>
						<a class="navbar-item">
                      Career Services
                    </a>
					</div>
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" style="color: #FFFFFF">
                  ACADEMIC RESOURCES
                </a>
					<div class="navbar-dropdown is-boxed">
						<a class="navbar-item">
                      Academic Calendar
                    </a>
						<a class="navbar-item">
                      Bookstore
                    </a>
					</div>
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" style="color: #FFFFFF">
                  CAMPUS LIFE
                </a>
					<div class="navbar-dropdown is-boxed">
						<a class="navbar-item">
                      Billing and Tuition
                    </a>
						<a class="navbar-item">
                      Career Services
                    </a>
					</div>
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" style="color: #FFFFFF">
                  SCHOOLS + CENTERS
                </a>
					<div class="navbar-dropdown is-boxed">
						<a class="navbar-item">
                      Billing and Tuition
                    </a>
						<a class="navbar-item">
                      Career Services
                    </a>
					</div>
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" style="color: #FFFFFF">
                  OFFICES
                </a>
					<div class="navbar-dropdown is-boxed">
						<a class="navbar-item">
                      Billing and Tuition
                    </a>
						<a class="navbar-item">
                      Career Services
                    </a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</html>