<html>
	<div class="new-banner" data-label="home" data-page="homepage" data-template="MyUsf" data-id="15">
		<section class="hero is-fullheight" style="background-color: #714747; color: #e1d5d5; background-image:url('https://www.delonghi.com/Global/recipes/multifry/pizza_fresca.jpg'); background-size:cover;">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
                  MyUSF
                </h1>
					<h2 class="subtitle" style="font-weight: bolder">
                  margherita pizza?
                </h2>
				</div>
			</div>
		</section>
	</div>
</html>