<html>
	<div class="panel-content" data-id="2" data-label="business, technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<i class="la la-star-o panel-icon" />
		<div>Specials</div>
	</div>
	<div class="panel-content" data-id="3" data-label="business, technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<i class="la la-money panel-icon" />
		<div>Loyalty Rewards</div>
	</div>
	<div class="panel-content" data-id="4" data-label="business, technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<i class="la la-tag panel-icon" />
		<div>Loyalty Benefits</div>
	</div>
	<div class="panel-content" data-id="5" data-label="business, technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2" style="border-right:0px;">
		<i class="la la-book panel-icon" />
		<div>Catalogs</div>
	</div>
</html>