<html>
	<div class="panel-main-left" data-id="34" data-label="business" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div class="panel-main-left-content">
			<img src="/static/images/banner-1.jpg"/>
			<div class="content-details">
				<h1 class="beauty-header">The Best of School supplies</h1>
				<span class="beauty-text">Back to school offers!</span>
			</div>
		</div>
	</div>
	<div class="panel-main-left" data-id="35" data-label="technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div class="panel-main-left-content">
			<img src="/static/images/banner-2.jpeg"/>
			<div class="content-details">
				<h1 class="beauty-header">Electronics and Gadgets</h1>
				<span class="beauty-text">Everything you need at the best price!</span>
			</div>
		</div>
	</div>
</html>