<html>
	<div class="special-item" data-id="42" data-label="business, technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2" style="margin-right:0px;">
		<div>
			<img class="special-image" src="/static/images/special-0.png"/>
		</div>
		<span>All Departments</span>
	</div>
	<div class="special-item" data-id="43" data-label="business, technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div>
			<img class="special-image" src="/static/images/special-1.png"/>
		</div>
		<span>Specials</span>
	</div>
	<div class="special-item" data-id="44" data-label="business" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div>
			<img class="special-image" src="/static/images/special-2.jpg"/>
		</div>
		<span>Diary</span>
	</div>
	<div class="special-item" data-id="45" data-label="business" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div>
			<img class="special-image" src="/static/images/special-3.jpg"/>
		</div>
		<span>Cereals and Grains</span>
	</div>
	<div class="special-item" data-id="46" data-label="business" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div>
			<img class="special-image" src="/static/images/special-4.jpg"/>
		</div>
		<span>Fruits and vegetables</span>
	</div>
	<div class="special-item" data-id="47" data-label="business" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div>
			<img class="special-image" src="/static/images/special-5.jpg"/>
		</div>
		<span>Chips</span>
	</div>
	<div class="special-item" data-id="48" data-label="technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div>
			<img class="special-image" src="/static/images/special-6.jpg"/>
		</div>
		<span>Machine Learning</span>
	</div>
	<div class="panel-special" data-id="49" data-label="business, technology" data-page="back-to-school, long-live-the-summer" data-template="tp1, tp2">
		<div class="panel-special-content">
			<h2>Our most visited departments</h2>
			<div class="special-wrapper" data-child-limit="5" data-child-type="special-item">
			</div>
		</div>
	</div>
</html>