<html>
	<div class="picturelevel" data-label="home" data-page="kermit-home" data-template="WorkPortfolio" data-id="51">
		<div class="container" style="width: 80%;">
			<div class="level">
				<div class="level-item" style="margin: 1em;">
					<div data-child-limit="1" data-child-type="hobbiespic"/>
				</div>
				<div class="level-item" style="margin: 1em;">
					<div data-child-limit="1" data-child-type="aboutmepic"/>
				</div>
				<div class="level-item" style="margin: 1em;">
					<div data-child-limit="1" data-child-type="projectspic"/>
				</div>
				<div class="level-item" style="margin: 1em;">
					<div data-child-limit="1" data-child-type="contactpic"/>
				</div>
			</div>
		</div>
	</div>
</html>