<html>
	<html class="PizzaBlog" data-label="default" data-page="home,reviews,recipes" data-id="-2">
		<head>
			<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Starting Page</title>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
			<style>
      ::-webkit-scrollbar {
          display: none;
      }
      html {
        background-color: #FFFFFF;
        color: #332e2e;
        background-image: url("https://media4.s-nbcnews.com/i/newscms/2020_09/3246761/plain_pizza_f431dcc55520ce41f835a97a5383f171.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }  
      .checked {
        color: orange;
      }
      </style>
		</head>
		<body style="font-family: Lucida Console, Courier, monospace;">
			<script defer="defer" src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"/>
			<div style="display: flex; width: 100%">
				<div data-child-limit="1" data-child-type="monthSidebar"/>
				<div data-child-limit="1" data-child-type="new-container"/>
			</div>
		</body>
	</html>
</html>