<html>
	<div class="pizzeriadelfinasf" data-label="sf" data-page="reviews" data-template="PizzaBlog" data-id="47">
		<div class="card" style="background-color: #c84646; width: 300px; height: 400px">
			<div class="card-image">
				<figure class="image is-4by3" style="margin: 0">
					<img src="https://cdn.vox-cdn.com/thumbor/x6qB21g1ZOM7Dk1aB4jzsgQZFzs=/0x0:960x960/1270x953/filters:focal(404x404:556x556):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/66680117/pizzeria_delfina.0.0.jpg" alt="Placeholder image"/>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<h3>Pizzeria Delfina </h3>
					<p>
						<span style="color: rgb(117, 117, 117);">2406 California St</span>
						<br/>
						<span style="color: rgb(117, 117, 117);">San Francisco, CA 94115</span>
					</p>
					<span class="fa fa-star checked"/>
					<span class="fa fa-star checked"/>
					<span class="fa fa-star checked"/>
					<span class="fa fa-star checked"/>
					<span class="fa fa-star"/>
				</div>
			</div>
		</div>
	</div>
</html>