<html>
	<div class="shopNavBar" data-label="default,english" data-page="home,arrivals,clothes,shoes,accessories" data-template="SeasonalFashion" data-id="83">
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="background-color: #FFFFFF; color: #000000">
			<a class="navbar-item" href="">New Arrivals</a>
			<a class="navbar-item" href="">Clothes</a>
			<a class="navbar-item" href="">Shoes</a>
			<a class="navbar-item" href="">Accessories</a>
		</nav>
		<div data-child-limit="1" data-child-type="shophomebanner"/>
	</div>
	<div class="shopNavBar" data-label="spanish" data-page="home,arrivals,clothes,shoes,accessories" data-template="SeasonalFashion" data-id="84">
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="background-color: #FFFFFF; color: #000000">
			<a class="navbar-item" href="">Recién Llegadas</a>
			<a class="navbar-item" href="">Ropa</a>
			<a class="navbar-item" href="">Zapatos</a>
			<a class="navbar-item" href="">Accessorios</a>
		</nav>
		<div data-child-limit="1" data-child-type="shophomebanner"/>
	</div>
	<div class="shopNavBar" data-label="portuguese" data-page="home,arrivals,clothes,shoes,accessories" data-template="SeasonalFashion" data-id="85">
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="background-color: #FFFFFF; color: #000000">
			<a class="navbar-item" href="">Novas Chegadas</a>
			<a class="navbar-item" href="">Roupa</a>
			<a class="navbar-item" href="">Sapatos</a>
			<a class="navbar-item" href="">Accessórios</a>
		</nav>
		<div data-child-limit="1" data-child-type="shophomebanner"/>
	</div>
</html>