<html>
	<html class="StartPage" data-id="-4" data-label="default" data-page="newpage">
		<head>
			<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Starting Page</title>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
			<script defer="defer" src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"/>
			<style>
          ::-webkit-scrollbar {
            display: none;
          }
      	</style>
		</head>
		<body>
			<div class="content" data-child-limit="1" data-child-type="hero"/>
			<div class="content" data-child-limit="1" data-child-type="tiles"/>
			<div class="content" data-child-limit="1" data-child-type="Component-Default"/>
			<div class="content" data-child-limit="1" data-child-type="media"/>
		</body>
	</html>
</html>