<html>
	<div class="testMenu" data-label="default" data-page="homepage" data-template="Layout-Default" data-id="69">
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="background-color: #ffffff; color: #756aa0">
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="">Home</a>
					<a class="navbar-item" href="">Work</a>
					<a class="navbar-item" href="">Some</a>
					<a class="navbar-item" href="">Thing</a>
				</div>
			</div>
			<script>
        $(document).ready(function() {
            $(".navbar-burger").click(function() {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        });
    </script>
		</nav>
	</div>
</html>