<html>
	<div class="usfbanner" data-label="home" data-page="homepage" data-template="MyUsf" data-id="72">
		<section class="hero is-medium" style="background-color: #FFFFFF; color: #ffffff; background-image:url('https://myusf.usfca.edu/sites/default/files/2019-01/image2-750px.jpg'); background-size:100% 100%; background-repeat: no-repeat; background-position: center center;">
			<div class="hero-head">
				<div class="content" data-child-limit="1" data-child-type="navbar"/>
			</div>
			<div class="hero-body">
				<div class="container">
					<p class="title" style="color: #ffffff; font-size: 60px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px">
				  Welcome to USF
				</p>
					<h2 class="subtitle">
				  
				</h2>
				</div>
			</div>
		</section>
	</div>
</html>