<html>
	<html class="WorkPortfolio" data-label="home,about,experience,projects,contact" data-page="kermit-home,kermit-aboutme,kermit-experience,kermit-projects,kermit-contact" data-id="-7">
		<head>
			<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Default</title>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
			<style>
            ::-webkit-scrollbar {
              display: none;
            }
			html {
				background-color: #f6f6f6;
			}
		</style>
		</head>
		<body>
			<div data-child-limit="1" data-child-type="kermit-navbar"/>
			<div data-child-limit="1" data-child-type="homebanner"/>
			<div data-child-limit="1" data-child-type="picturelevel"/>
			<div data-child-limit="1" data-child-type="aboutmeLevel"/>
		</body>
	</html>
</html>