<html>
	<html class="WorkPortfolio" data-label="start" data-page="home,about,experience,projects" data-id="-5">
		<head>
			<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Default</title>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
			<style>
            ::-webkit-scrollbar {
              display: none;
            }
		</style>
		</head>
		<body>
        </body>
	</html>
</html>